<%- include ("./partials/header.ejs") %>

<div class="jumbo-container jumbo-landing">
<div class="jumbotron">
  <h1 class="display-4">Welcome Crypto Enthusiast!</h1>
  <p class="lead">This is a simple cryptocurrency portfolio tracker, where you can store your portfolio information and see the up-to-date price.</p>
  <hr class="my-4">
  <p>Register by clicking the button below or login if you already have an account.</p>

  <div class="get-started">
  <a class="btn  btn-lg btn-login" href="/users/login" role="button"><span class="landing-links">Login</span></a>
   <a class="btn  btn-lg btn-register" href="/users/register" role="button"><span class="landing-links">Register</span></a>

  </div>
</div>
</div>



<%- include ("./partials/footer.ejs") %>